In [1]:
!pip install selenium

Collecting selenium
  Obtaining dependency information for selenium from https://files.pythonhosted.org/packages/b4/f9/e9ac5e4c5d84b07c7d117d67b2c84be221bcb9e62ff31fd0a1bbc06099c0/selenium-4.19.0-py3-none-any.whl.metadata
  Downloading selenium-4.19.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\shubham sharma\anaconda3\lib\site-packages (from selenium) (1.26.16)
Collecting trio~=0.17 (from selenium)
  Obtaining dependency information for trio~=0.17 from https://files.pythonhosted.org/packages/17/c9/f86f89f14d52f9f2f652ce24cb2f60141a51d087db1563f3fba94ba07346/trio-0.25.0-py3-none-any.whl.metadata
  Downloading trio-0.25.0-py3-none-any.whl.metadata (8.7 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Obtaining dependency information for trio-websocket~=0.9 from https://files.pythonhosted.org/packages/48/be/a9ae5f50cad5b6f85bd2574c2c923730098530096e170c1ce7452394d7aa/trio_websocket-0.11.1-py3-none-any.whl.metadata
  Downloading trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shubham sharma\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Collecting typing_extensions>=4.9.0 (from selenium)
  Obtaining dependency information for typing_extensions>=4.9.0 from https://files.pythonhosted.org/packages/01/f3/936e209267d6ef7510322191003885de524fc48d1b43269810cd589ceaf5/typing_extensions-4.11.0-py3-none-any.whl.metadata
  Downloading typing_extensions-4.11.0-py3-none-any.whl.metadata (3.0 kB)
Collecting attrs>=23.2.0 (from trio~=0.17->selenium)
  Obtaining dependency information for attrs>=23.2.0 from https://files.pythonhosted.org/packages/e0/44/827b2a91a5816512fcaf3cc4ebc465ccd5d598c45cefa6703fcf4a79018f/attrs-23.2.0-py3-none-any.whl.metadata
  Downloading attrs-23.2.0-py3-none-any.whl.metadata (9.5 kB)
Requirement already satisfied: sortedcontainers in c:\users\shubham sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\shubham sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Obtaining dependency information for outcome from https://files.pythonhosted.org/packages/55/8b/5ab7257531a5d830fc8000c476e63c935488d74609b50f9384a643ec0a62/outcome-1.3.0.post0-py2.py3-none-any.whl.metadata
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Collecting sniffio>=1.3.0 (from trio~=0.17->selenium)
  Obtaining dependency information for sniffio>=1.3.0 from https://files.pythonhosted.org/packages/e9/44/75a9c9421471a6c4805dbf2356f7c181a29c1879239abab1ea2cc8f38b40/sniffio-1.3.1-py3-none-any.whl.metadata
  Downloading sniffio-1.3.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: cffi>=1.14 in c:\users\shubham sharma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Obtaining dependency information for wsproto>=0.14 from https://files.pythonhosted.org/packages/78/58/e860788190eba3bcce367f74d29c4675466ce8dddfba85f7827588416f01/wsproto-1.2.0-py3-none-any.whl.metadata
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shubham sharma\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shubham sharma\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Obtaining dependency information for h11<1,>=0.9.0 from https://files.pythonhosted.org/packages/95/04/ff642e65ad6b90db43e668d70ffb6736436c7ce41fcc549f4e9472234127/h11-0.14.0-py3-none-any.whl.metadata
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Downloading selenium-4.19.0-py3-none-any.whl (10.5 MB)
   ---------------------------------------- 0.0/10.5 MB ? eta -:--:--
   -- ------------------------------------- 0.6/10.5 MB 13.5 MB/s eta 0:00:01
   ----- ---------------------------------- 1.4/10.5 MB 15.3 MB/s eta 0:00:01
   --------- ------------------------------ 2.5/10.5 MB 17.4 MB/s eta 0:00:01
   ------------ --------------------------- 3.4/10.5 MB 16.6 MB/s eta 0:00:01
   ----------------- ---------------------- 4.5/10.5 MB 17.8 MB/s eta 0:00:01
   -------------------- ------------------- 5.4/10.5 MB 18.2 MB/s eta 0:00:01
   ------------------------ --------------- 6.5/10.5 MB 18.8 MB/s eta 0:00:01
   --------------------------- ------------ 7.3/10.5 MB 18.7 MB/s eta 0:00:01
   ------------------------------- -------- 8.4/10.5 MB 19.1 MB/s eta 0:00:01
   ----------------------------------- ---- 9.3/10.5 MB 18.6 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.5 MB 18.7 MB/s eta 0:00:01
   ---------------------------------------- 10.5/10.5 MB 17.7 MB/s eta 0:00:00
Downloading trio-0.25.0-py3-none-any.whl (467 kB)
   ---------------------------------------- 0.0/467.2 kB ? eta -:--:--
   --------------------------------------- 467.2/467.2 kB 28.6 MB/s eta 0:00:00
Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Downloading typing_extensions-4.11.0-py3-none-any.whl (34 kB)
Downloading attrs-23.2.0-py3-none-any.whl (60 kB)
   ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
   ---------------------------------------- 60.8/60.8 kB ? eta 0:00:00
Downloading sniffio-1.3.1-py3-none-any.whl (10 kB)
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   ---------------------------------------- 0.0/58.3 kB ? eta -:--:--
   ---------------------------------------- 58.3/58.3 kB 3.0 MB/s eta 0:00:00
Installing collected packages: typing_extensions, sniffio, h11, attrs, wsproto, outcome, trio, trio-websocket, selenium
  Attempting uninstall: typing_extensions
    Found existing installation: typing_extensions 4.7.1
    Uninstalling typing_extensions-4.7.1:
      Successfully uninstalled typing_extensions-4.7.1
  Attempting uninstall: sniffio
    Found existing installation: sniffio 1.2.0
    Uninstalling sniffio-1.2.0:
      Successfully uninstalled sniffio-1.2.0
  Attempting uninstall: attrs
    Found existing installation: attrs 22.1.0
    Uninstalling attrs-22.1.0:
      Successfully uninstalled attrs-22.1.0
Successfully installed attrs-23.2.0 h11-0.14.0 outcome-1.3.0.post0 selenium-4.19.0 sniffio-1.3.1 trio-0.25.0 trio-websocket-0.11.1 typing_extensions-4.11.0 wsproto-1.2.0

In [11]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [12]:
driver = webdriver.Chrome()

In [13]:
driver.get('https://www.naukri.com/')

In [70]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [71]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [72]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [81]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [82]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
    

location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
    
    
    
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company=i.text
    company_name.append(company)
    
    
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="sal-wrap ver-line"]/span/span')
for i in salary_tags:
    experience=i.text
    experience_required.append(experience)

In [83]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [85]:
import pandas as pd
df=pd.DataFrame({'title':job_title,'location':job_location,'company':company_name,'experience':experience_required})
df

,title,location,company,experience
0,"Senior Data Scientist, Reporting","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,Not disclosed
1,"Data Scientist, Marketing","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,Not disclosed
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,Not disclosed
3,AI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,Not disclosed
4,GenAI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,Not disclosed
5,Data Scientist II,"Greater Noida, Bengaluru",Honeywell,Not disclosed
6,NLP Data Scientist - Real World Data (RWD),"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Agilite Global Solutions,Not disclosed
7,Data Analytics-Corporate HR,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tata Communications,Not disclosed
8,DS - NLP Expert,"Hyderabad, Telangana, Gurugram, Haryana, Banga...",Genpact,Not disclosed
9,Generative AI Data Scientist,"Hyderabad, Gurugram, Bengaluru",Genpact,Not disclosed
10,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems,Not disclosed
11,NLP Data Scientist - Real World Data (RWD),"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Agilite,Not disclosed
12,Senior Data Scientist/ Data Scientist,"Mumbai, Pune, Chennai, Gurugram, Bengaluru",Neal Analytics,Not disclosed
13,Data Scientist,"Hybrid - Noida, Uttar Pradesh, Hyderabad, Beng...",HCLTech,20-35 Lacs PA
14,Lead Data Scientist,"Greater Noida, Bengaluru",Honeywell,Not disclosed
15,Sr . Data Scientist / Manager,"Noida, Gurugram, Bengaluru",Novitas Infotech,Not disclosed
16,Data Scientist,"Noida, Gurugram, Bengaluru",Novitas Infotech,Not disclosed
17,Data Scientist,"Gurugram, Bengaluru",Blackbuck,Not disclosed
18,Data Scientist - Immediate Joiners Only,Gurugram,Indusind Bank,Not disclosed
19,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions,Not disclosed

In [183]:
driver.get('https://www.shine.com/')

In [184]:
designation=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

In [185]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [186]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [188]:
job_title=[]
job_location=[]

In [193]:
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [191]:
print(len(job_title))

80

In [192]:
import pandas as pd
df=pd.DataFrame({'title':job_title})
df

                                title
0                      Data Scientist
1   Data Scientist Urgent Recruitment
2              Data Scientist Opening
3          Data Scientist Recruitment
4              Data Scientist Vacancy
..                                ...
75           Clinical Data Management
76                       Data Analyst
77                       Clinical SAS
78             Data Science Architect
79              Clinical Data Manager

[80 rows x 1 columns]

In [10]:
driver.get('https://www.flipkart.com/')

In [11]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product.send_keys('Sneakers')

In [12]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [13]:
product_brand=[]
product_price=[]
product_discount=[]

In [20]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand=i.text
    product_brand.append(brand)
    
    

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price=i.text
    product_price.append(price)
    
    
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags:
    discount=i.text
    product_discount.append(discount)

In [22]:
print(len(product_brand),len(product_price),len(product_discount))

40 40 40

In [23]:
import pandas as pd
df=pd.DataFrame({'brand':product_brand,'price':product_price,'discount':product_discount})
df

           brand   price discount
0         BRUTON    ₹499  80% off
1         BRUTON    ₹499  80% off
2       URBANBOX    ₹299  70% off
3      Deals4you    ₹379  62% off
4           ATOM  ₹1,094  66% off
5           aadi    ₹363  81% off
6       RapidBox    ₹595  40% off
7       RapidBox    ₹595  40% off
8          Abros    ₹937  27% off
9           PUMA  ₹1,096  74% off
10        BRUTON    ₹499  80% off
11        BRUTON    ₹499  80% off
12  Robbie jones    ₹449  77% off
13      RED TAPE  ₹1,179  80% off
14         Abros  ₹1,699  10% off
15      URBANBOX    ₹299  70% off
16        BRUTON    ₹499  80% off
17        BRUTON    ₹499  80% off
18         Peelu    ₹636  80% off
19        ORICUM    ₹641  35% off
20        BRUTON    ₹499  80% off
21          ATOM  ₹1,367  60% off
22          PUMA  ₹1,356  69% off
23         asian    ₹982  45% off
24      RED TAPE  ₹1,179  80% off
25          PUMA  ₹1,259  68% off
26        BRUTON    ₹599  82% off
27          ATOM  ₹1,264  61% off
28         Asics  ₹1,799  60% off
29       Paragon    ₹549  62% off
30        Kraasa    ₹555  72% off
31        BRUTON    ₹499  80% off
32      RapidBox    ₹595  40% off
33      RED TAPE  ₹1,179  80% off
34  Robbie jones    ₹449  77% off
35         Abros  ₹1,087  22% off
36      RapidBox    ₹595  40% off
37         BIRDE    ₹299  70% off
38          PUMA  ₹1,282  71% off
39      HOTSTYLE    ₹334  33% off

In [14]:
import time
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options

# Step 1: Get the webpage
url = "https://www.motor1.com/"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Step 2: Type in the search bar '50 most expensive cars' using Selenium
options = Options()
options.headless = True  # Run Chrome in headless mode so that it doesn't open a browser window
driver = webdriver.Chrome(options=options)
driver.get(url)

search_input = driver.find_element("class name", "header-search__input")  # Corrected the method to find_element
search_input.send_keys("50 most expensive cars")
search_input.send_keys(Keys.RETURN)

# Wait for page to load completely
time.sleep(5)  # Adjust the waiting time as needed

# Step 4: Scrap the mentioned data and create the dataframe
soup = BeautifulSoup(driver.page_source, "html.parser")

cars_data = []
cars_container = soup.find("div", {"class": "search-results"})

if cars_container:
    cars_list = cars_container.find_all("div", {"class": "search-item"})
    for car in cars_list:
        car_name = car.find("h3", {"class": "search-result-title"}).text.strip()
        car_price = car.find("div", {"class": "search-result-price"}).text.strip()
        cars_data.append({"Car Name": car_name, "Price": car_price})

# Create DataFrame
df = pd.DataFrame(cars_data)
print(df)

# Close the webdriver
driver.quit()

AttributeError: 'list' object has no attribute 'send_keys'